# 1. Ignore all hidden folders (starting with .) recursively
**/.*

!**/.gitignore
!**/.gitkeep

# 2. Ignore all gzipped files
*.gz
*.blastp
*.chromsize
*.tsv
*.pdf

# 3. Ignore all files in specific directories (recursive)
/ref/
/logs/
/jcvi/
/odp/

# 4. Specific result subfolder
/results/Apr3_oysters_jcvi/

# 5. Ignore any 'benchmarks' folder located within any subfolder of /results/
/results/**/benchmarks/
/results/**/db/
/results/**/step0-blastp_results/
/results/**/step0-chromsize/
/results/**/step1-rbh/
/results/**/step2-figures/ALG-species_plots
/results/**/step2-figures/synteny_coloredby*
